<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Victoria's film database</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
<!--</head>-->
<!--<body>-->

<!--<h2>⭐Top rated</h2>-->
<!--{% for film in the_best %}-->
<!--    <p>{{ film.title }} ({{ film.imdbRating }})</p>-->
<!--{% endfor %}-->

<!--<h2>🙂 Average rated</h2>-->
<!--{% for film in average %}-->
<!--    <p>{{ film.title }} ({{ film.imdbRating }})</p>-->
<!--{% endfor %}-->

<!--<h2>👎Worst rated</h2>-->
<!--{% for film in the_worst %}-->
<!--    <p>{{ film.title }} ({{ film.imdbRating }})</p>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->