h1 {
text-align: center;
margin-bottom: 20px;
}

body {

     margin-left: auto;
     margin-right: auto;
     width: 90%;
     border-collapse: collapse;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }

  th, td {
    border: 2px solid #ddd;
    padding: 15px;
    text-align: center;
    font-size: 17px;
  }


  th {
    background-color: #B0C4DE;
    color: black;
  }


  tr:nth-child(even) {
    background-color: #F0F0F0;
  }

.search {
margin-bottom: 30px;
display: flex;
justify-content: flex-end;
}

.search-engine {
display: flex;
width: 55%;
gap: 25px;
padding: 30px;
border: 2px solid black;
text-align: center;
margin: 0 auto;
margin-top: 200px;
font-size: 25px;
background-color: aliceblue;
}

form input, form textarea, form button {
margin-top: 45px;
margin-bottom: 55px;
}

#special-search {
padding: 15px 30px;
font-size: 18px;
cursor: pointer;
}

#last-div {
text-align: center
}

#search-button {
padding: 15px 30px;
font-size: 22px;
cursor: pointer;
}

.movie-card {
    width: 1200px;
    padding: 60px;
    margin: 60px auto;
    background-color: gainsboro;
    border-radius: 40px;
    font-size: 20px;
}

.movie-details p {
    margin: 15px 0;
}

#image {
text-align: center
}

#title {
color: steelblue;
}

#last {
text-align: center;
}

#first-div {
font-size: 20px;
}

#one {
margin-bottom: 50px;
}